/*导航*/

.nav{height:80px;float:right ;position:relative}
.nav .navBgBox{height:80px;overflow:hidden;padding-top:3px}

.nav ul {}
.nav ul li{float:left;width:90px;line-height:80px;font-size:14px;color:#000;overflow:hidden;position:relative;height:80px;}
.nav ul li #CurrentlyNode{color:#0DA3E2;font-weight:bold;}
/*.nav ul li.hover a{color:#0DA3E2;font-weight:bold;}
.nav ul li.hover i{position:absolute;top:0;left:50%;border-color:#0DA3E2 transparent transparent transparent;  border-width: 6px;margin-left:-4px;
  border-style: solid;}*/
.nav ul{}
.nav ul li a{color:#000;}
.nav ul li a:hover{text-decoration:none;background:}
/*.nav .mask{position:absolute;left:75px;top:0px;height: 49px;width:96px;background:url(/res/Home/structure/15070332.png) no-repeat left top;}*/
.nav .mask{background:#FAFAFA;border-top:solid 3px #0DA3E2;position:absolute;left:0;top:0px;height: 75px;width:90px;}
.nav ul li.hover a{color:#0DA3E2;font-weight:bold;}
.nav .mask i{position:absolute;top:0;left:50%;border-color:#0DA3E2 transparent transparent transparent;  border-width: 6px;margin-left:-4px;
  border-style: solid;}

